@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

div::-webkit-scrollbar {
  display: none;
}
div {
  max-width: 2560px;
  max-height: 1920px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.aspect-img {
  aspect-ratio: 9/16;
}

.overflow-animation {
  animation: move 300s linear infinite;
}

.overflow-animation:hover {
  animation-play-state: paused;
}

.flipped:hover {
  animation: flipping 2s;
}

@keyframes flipping {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, -11, 0, 180deg);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.scroll-box {
  @apply border-2 border-white;
  overflow: scroll;
  scroll-behavior: smooth;
}

.scroll-box:hover {
  border-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
  scroll-behavior: smooth;
}

.scroll-item {
  text-align: center;
  font-size: 2.875rem /* 30px */;
  line-height: 9rem;
  /* 36px */
}

.placeholder {
  text-align: center;
  font-size: 2.875rem /* 30px */;
  /* 24px */
}


.detail-information {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1)) /* #f8fafc */;
  border-radius: 0.25rem /* 4px */;
}

.custom-box-shadow {
  box-shadow: 0px 10px #dba632;
}


.btn-hover {
  @apply px-3 py-1 rounded-xl bg-sky-400 cursor-pointer hover:bg-sky-500 text-white;
}

.swiper-custom {
  --swiper-navigation-color: rgba(255, 255, 255, 0);
  width: 100%;
}
.swiper-custom:hover {
  --swiper-navigation-color: rgb(255, 255, 255);;
}

.rankTextStroke {
    
    color: transparent; /* Clear inner fill. */
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8); /* outline width */
    text-align: center; /* 가운데 정렬 */
}

.text-gradient {
  @apply fill-transparent bg-clip-text text-transparent bg-gradient-to-t from-white via-sky-500 to-indigo-500;
}

.app-title {
    color: transparent; 
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    text-align: center;
}

.app-link:hover{
  @apply bg-gradient-to-br from-fuchsia-500/20 via-emerald-400/20 to-cyan-400/20;
}

@media (min-width: 768px) {
  
.app-title {
    color: transparent; 
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.8);
    text-align: center;
}
}